*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: helvetica;
}

h1,
h2,
h3{
    color: #333;
}

p{
    color:#d98cd9;
}

/*header*/
.container-nav{
    width: 100%;
    height: 80px;
    background-color: #013440;
    padding: 0 2rem;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

nav{
    position: relative;
}

.nav-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
    
}

.nav-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.nav-items a{
    color: #fff;
    transition: .5s;
}

.nav-items a:hover{
    color: #593954;
}

.default-btn{
    padding: 10px 15px;
    background-color: #038C7F;
    border-radius: 10px;
    transition: .5s;
}

.default-btn:hover{
    border-color:#013440;
    color: #038C7F;
    background-color: #026873;
}

/*Banner*/

.banner{
    background-image: url("../img/gmsbanner.png");
    padding: 220px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner p{
    position: absolute;
}

.container-free p{
    color: #fff;
    font-weight: bold;
    margin-left: 180px;
    bottom: 4px;
}

.container-pay p{
    color: #fff;
    font-weight: bold; 
    bottom: 4px;
    margin-left: 450px;
}